body {
    margin: 0;
    background: whitesmoke;
    overflow: hidden;
}

#gameContainer {
    display: flex;
    align-items:start;
    justify-content: start;
    height: 100vh;
    position: relative;
}

canvas {
    display: block;
    background: grey;
}

#gameMenu {
    position: absolute;
    z-index: 2; /* controls the stacking order of elements  */
}